extends ../layout.pug

block body
  form(action=`/items/${item.id}/bid` method="POST" class="form-inline")
    div(class="form-group row")
      label(for="name" class="col-xs-2 col-form-label") Place bid
      div(class="col-xs-10")
        input(class="form-control"
          type="number" name="value" id="value"
          min=bids && bids[0] ? bids[0].value  + 1 : 1 step=0.01 required)
    button(type="submit" class="btn btn-primary") Submit
