extends ../layout.pug

block body
  h2(class="main-title") Create new User
  form(method="POST")
    div(class="form-group row")
      label(for="name" class="col-xs-2 col-form-label") Name
      div(class="col-xs-10")
        input(class="form-control" type="text" name="name" id="name")
    div(class="form-group row")
      label(for="description" class="col-xs-2 col-form-label") Email
      div(class="col-xs-10")
        input(class="form-control" type="text" name="email" id="email")
    div(class="form-group row")
      label(for="img" class="col-xs-2 col-form-label") Image
      div(class="col-xs-10")
        input(class="form-control" type="text" name="img" id="img")
    button(type="submit" class="btn btn-primary") Submit
