extends ../layout.pug

block body
  div(class="row")
    h1(class="main-title")= user.name
  div(class="row")
    div(class="col-md-4")
      img(src=user.img)
    div(class="col-md-6")
      p= user.email
  div(class="row")
    include ../bid/list.pug
