extends ../layout.pug

block body
  h2(class="main-title") Payment Details
  form(method="POST")
    div(class="form-group row")
      label(for="card_holder" class="col-xs-2 col-form-label") Card Holder
      div(class="col-xs-10")
        input(class="form-control" type="text" name="card_holder" id="card_holder" required)
    div(class="form-group row")
      label(for="cnn" class="col-xs-2 col-form-label") Credit Card Number
      div(class="col-xs-10")
        input(class="form-control" type="number" name="cnn" id="cnn" required)
    div(class="form-group row")
      label(for="expDate" class="col-xs-2 col-form-label") Expiration Date
      div(class="col-xs-10")
        input(class="form-control" type="date" name="expDate" id="expDate")
    button(type="submit" class="btn btn-primary") Submit
